<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="de.limbusdev.gotoolset">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".TypeGuideActivity">
        </activity>
        <activity android:name=".AboutActivity">
        </activity>
        <activity android:name=".IVCalcActivity">
        </activity>
        <activity android:name=".HelpAttackActivity">
        </activity>
        <activity android:name=".HelpDefenseActivity">
        </activity>
        <activity android:name=".TypeInfoActivity">
        </activity>
        <activity android:name=".DexActivity">
        </activity>
        <activity
            android:name=".DetailViewActivity"
            android:label="@string/title_activity_detail_view"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
    </application>

</manifest>